# Base de datos (PostgreSQL) — Prisma
DATABASE_URL="postgresql://user:password@localhost:5432/la_estacion?schema=public"

# Autenticación
AUTH_SECRET="genera-un-secreto-largo-y-aleatorio"

# MercadoPago
MP_ACCESS_TOKEN="APP_USR-xxxxxxxx"
NEXT_PUBLIC_MP_PUBLIC_KEY="APP_USR-xxxxxxxx"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
